# Graphing NBA All Stars by Salary for the 2022-2023 Season

In [2]:
import requests
from bs4 import BeautifulSoup

import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt

from sklearn.linear_model import LogisticRegression

import nbimporter

In [3]:
%load_ext sql

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:///:memory:

In [12]:
allstar_23_result = requests.get("https://en.wikipedia.org/wiki/2023_NBA_All-Star_Game").text
allstar_23_page = BeautifulSoup(allstar_23_result, "html.parser")
raw_data = allstar_23_page.find('table', {'class':'multicol'})

In [70]:
allstar_tables = pd.read_html("https://en.wikipedia.org/wiki/2023_NBA_All-Star_Game")

In [82]:
allstar_23 = allstar_tables[6].drop(columns=['Pick', 'Team'])

In [83]:
print(allstar_23)

                     Player
0            Damian Lillard
1           Anthony Edwards
2              Jrue Holiday
3              Jaylen Brown
4   Shai Gilgeous-Alexander
5               Paul George
6             DeMar DeRozan
7         Tyrese Haliburton
8             Pascal Siakam
9             Julius Randle
10              Bam Adebayo
11             De'Aaron Fox
12         Domantas Sabonis
13        Jaren Jackson Jr.
14              Joel Embiid
15             Jayson Tatum
16             Kyrie Irving
17                Ja Morant
18              Luka Dončić
19         Donovan Mitchell
20             Nikola Jokić
21          Lauri Markkanen

## Getting the Salary Data

In [65]:
salary_table = pd.read_html("https://hoopshype.com/salaries/players/")

In [66]:
salary_df = salary_table[0]
salary_df = salary_df.drop(salary_df.columns[0], axis=1)

In [67]:
display(salary_df)

,Player,2022/23,2023/24,2024/25,2025/26,2026/27,2027/28
0,Stephen Curry,"$48,070,014","$51,915,615","$55,761,217","$59,606,817",$0,$0
1,John Wall,"$47,345,760",$0,$0,$0,$0,$0
2,Russell Westbrook,"$47,080,179",$0,$0,$0,$0,$0
3,LeBron James,"$44,474,988","$46,698,737","$50,434,636",$0,$0,$0
4,Kevin Durant,"$44,119,845","$47,649,433","$51,179,020","$54,708,608",$0,$0
...,...,...,...,...,...,...,...
548,Olivier Sarr,"$90,665",$0,$0,$0,$0,$0
549,Stanley Umude,"$58,493",$0,$0,$0,$0,$0
550,Jamaree Bouyea,"$58,493",$0,$0,$0,$0,$0
551,DJ Steward,"$50,000",$0,$0,$0,$0,$0
552,Armoni Brooks,"$50,000",$0,$0,$0,$0,$0

In [100]:
allstar_salaries = salary_df[salary_df['Player'].isin(allstar_23['Player'])]
non_allstar_salaries = salary_df[~salary_df['Player'].isin(allstar_23['Player'])]